<!--<nav-wrap>
  <nav-links href="#/" class="fa fa-file-text-o active">My Polices</nav-links>
  <nav-links href="http://bahamas.mybafsolutions.com/financial-services-and-investments.html" target="_blank" class="fa fa-line-chart">Investment Opportunities</nav-links>
  <nav-links href="#/" class="fa fa-cog">Account Settings</nav-links>
  <nav-links href="#/" class="fa fa-question-circle">Requests</nav-links>
  <nav-links href="#/" class="fa fa-power-off" id="logout"></nav-links>
</nav-wrap> -->

<div class="left-sidebar">
  <h2>Annuity Portal</h2>
  <nav role="navigation">
    <ul id="main-nav">
      <li><a href="profile-01-home.htm" class="fa fa-file-text-o active"><span>My Policies</span></a></li>
      <li><a href="http://bahamas.mybafsolutions.com/financial-services-and-investments.html" class="fa fa-line-chart" target="_blank"><span>Investment Opportunities</span></a></li>
      <li><a href="#" class="fa fa-cog"><span>Account Settings</span></a></li>
      <li><a href="profile-01-request.htm" class="fa fa-question-circle"><span>Requests</span></a></li>
      <li><a nohref="#" class="fa fa-power-off" id="logout"><span>Logout</span></a></li>
    </ul>
  </nav>
  <footer>
    <div id="contact-details">
      <a href="https://www.google.co.uk/maps/place/BAF+Financial+Centre/@25.0780171,-77.3448725,17z/data=!4m2!3m1!1s0x892f7d1b3829071b:0xb14eb90ba34e9550" target="_blank" class="fa fa-home">
        <span>
          BAF Financial <br>
          Independence Drive <br>
          Nassau
        </span>
      </a> <br>
      <a href="tel:242-461-1000" class="fa fa-phone">
        <span>Telephone: 242-461-1000</span>
      </a>
      <i class="fa fa-fax"></i> <span>Fax Number: 242-361-2525</span>
      <!-- /contact-details -->
    </div>
    <h6>Find Us On Social Media</h6>
    <ul id="social-media">
      <li>
        <a href="https://www.facebook.com/baffinancial" target="_blank" class="fa fa-facebook"></a>
      </li>
      <li><a href="https://twitter.com/search?q=baffinancial" target="_blank" class="fa fa-twitter"></a></li>
      <li><a href="#" target="_blank" class="fa fa-linkedin"></a></li>
      <!-- <li><a href="#" target="_blank" class="fa fa-google-plus"></a></li>
      <li><a href="#" target="_blank" class="fa fa-instagram"></a></li> -->
    </ul>
    <div id="end">
      <i class="fa fa-bolt"></i> Powered by Ai
    </div>
  </footer>
  <!-- /left-sidebar -->
</div>
