@import 'bourbon';
@import 'partials/reset';
@import 'partials/plugins';
@import 'partials/mixins';
@import 'partials/extends';
@import 'partials/functions';
@import 'partials/owl-carousel';
@import 'partials/owl-theme';
@import 'partials/animate';
@import 'plugins/font-awesome/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800|Source+Sans+Pro:400,900);

/* MEDIA QUERIES */
$breakpoint-mobile-landscape:	640px;
$breakpoint-tablet:			768px; //min value
$breakpoint-desktop:			1200px; //max value

/* COLOURS */
$baseColor:				#003153;
$darkBlue:				#4d5e70;
$medBlue:				#d4dde4;
$lightBlue:				#f0f4f7;
$hoverBlue:				#2dc0e8;

/* FONTS */
$titleFont:				'Open Sans', sans-serif;
$baseFont:				'Source Sans Pro', sans-serif; 
$baseFontWeight:			400;
$baseFontSize:				14px;
$baseFontColor:			#222222;
$baseLineHeight:			24px;

/* SPACING & MISC */
$margin:				2.380%;
$transition:				all .35s ease-in-out;


/* GLOBALS */
* { @include box-sizing(border-box); }
html,
body {
	width:100%;
	@include mq(tablet-landscape) {
		height:100%;
	}
}
body { 
	font:400 $baseFontSize $baseFont;
	background:$lightBlue;
	color:#4c5e70;
	&#login {
		background:url(../images/login-bg.jpg) no-repeat center center fixed;
		background-size:cover;
	}
}
.container { 
	@extend .clearfix; 
	width:100%; 
	max-width:1300px; 
	margin:0 auto; 
	padding:0 20px;
}
.clearfix {
	&:before, 
	&:after { 
		content:" "; 
		display:block; 
	}
  	&:after { 
  		clear:both; 
  	}
}
ul {
	list-style:none;
	padding:0;
	margin:0;
}

/* GLOBAL FONTS */
h1, h2, h3, h4, h5, h6 {
	font-family:$titleFont;
	font-weight:800;
	text-transform:capitalize;
	margin:0;
	@include fontSize(20px);
}
h2 { 
	color:$darkBlue; 
	margin:0 0 10px 0;
	@include fontSize(18px);
}
h3 {
	@include fontSize(16px);
}
h4 {
	@include fontSize(14px);
	span {
		display:block;
		text-transform:capitalize;
		line-height:1;
	}
}
a { 
	@include transition($transition); 
	text-decoration:none; 
	font-family:$baseFont; 
	font-weight:900;
	color:$baseColor; 
}
a img { vertical-align:bottom; }
strong { font-weight:900; }
.btn { 
	text-align:center; 
	background:$baseColor; 
	padding:15px 25px; 
	color:#fff;
}

/* GLOBAL IMAGE STYLING */
img {
	width:auto;
	height:auto;
	max-width:100%;
}
figure { 
	margin:0;
	position:relative; 
}
figcaption { 
	font-style:italic; 
	margin-bottom:$margin; 
}

/* COLUMNS */
section {}
.row { @extend .clearfix; }
.two-thirds-left, 
.one-third-right, 
.two-thirds-right, 
.one-third-left { 
	display:block; 
	margin-bottom:$margin;
	width:100%;
	@include mq(tablet-landscape) {
		float:left;
	}
}
.two-thirds-left, 
.two-thirds-right {
	@include mq(tablet-landscape) { 
		width:65.87%; 
		margin-right:$margin; 
	}
}
.one-third-right, 
.one-third-left {
	@include mq(tablet-landscape) { 
		width:29.28%; 
	}
}
@include mq(tablet-landscape) { 
	.two-thirds-right { 
		margin:0 0 0 $margin; 
	} 
}
.col-2 {
	display:block;
	width:100%;
	@include mq(tablet-landscape) {
		float:left;
		width: 49%;
		margin-left:2%;
		&:first-child { margin:0; }
	}
}
.col-3 {
	display:block;
	width:100%;
	@include mq(tablet-landscape) {
		float:left;
		width:31.74%;
		margin-left:2.380%;
		&:first-child { margin-left:0; }
	}
}

/* GENERIC MISC */
iframe { width:100%; margin:0 0 $margin 0; }

/* FORM STYLING */
.login-box {
	display:block;
	background:#eff0f2;
	color:#34495e;
	width:90%;
	line-height:1.5;
	border-radius:10px;
	margin:20px auto;
	@include fontSize(16px);
	img {
		display:block;
		margin:0 auto 20px;
	}
	#end {
		opacity:.8;
		display:block;
		margin:20px 0 0;
		i {
			background:none;
			color:$baseColor;
			line-height:normal;
			width:auto;
			height:auto;
			position:relative;
		}
	}//end
	@include mq(tablet-landscape) {
		max-width:1020px;
		background:url(../images/logo-bg.png) no-repeat 400px -75px #eff0f2;
		display:table;
		position:absolute;
		top:50%;
		left:50%;
		@include transform(translate(-50%, -50%));
	}//END MQ TABLET
}//login-box
.contact-form form, 
.contact-form div,  
.contact-form label, 
.contact-form input {
	width:100%;
	display:block;
}
.contact-form {
	padding:30px;
	border-radius:10px 10px 0 0;
	position:relative;
	div {
		@extend .clearfix;
	}
	label, 
	input { 
		margin:0 0 25px 0; 
		position:relative;
		@extend .clearfix;
	}
	i {
		position:absolute;
		background:$hoverBlue;
		color:#fff;
		width:50px;
		z-index:2;
		line-height:50px;
		text-align:center;
		border-radius:5px 0  0 5px;
	}
	input{ 
		border:0;
		padding:15px 15px 15px 60px;
		border-radius:5px;
		font-family:$baseFont;
		&:focus { outline: 0; }
		@include fontSize(16px);
	}
	button {
		display:block;
		float:right;
		padding:10px 25px; 
		color:#fff;
		background:$hoverBlue;
		cursor:pointer; 
		border:0;
		border-radius:5px;
		font-family:$titleFont;
		box-shadow:0 5px darken($hoverBlue, 10%);
		position:relative;
		top:0;
		@include fontSize(14px);
		@include transition(.35s);
		&:hover {
			background:$hoverBlue;
			top:5px;
			box-shadow:none;
		}
	}//button
	@include mq(tablet-landscape) {
		display:table-cell;
		vertical-align:middle;
		width:65%;
	}
}
.feature-side {
	display:block;
	padding:30px;
	background:#e4e5e6;
	text-align:center;
	border-radius:0 0 10px 10px;
	ul {
		list-style:none;
		padding:0;
	}
	li {
		margin:0 0 20px 0;
		i { @include fontSize(30px); }
		h2 {
			text-transform:capitalize;
		}
	}//li
	@include mq(tablet-landscape) {
		display:table-cell;
		vertical-align:middle;
		width:35%;
		border-radius:0 10px 10px 0;
	}
}