@import 'bourbon';
@import 'partials/reset';
@import 'partials/plugins';
@import 'partials/mixins';
@import 'partials/extends';
@import 'partials/functions';
@import 'partials/owl-carousel';
@import 'partials/owl-theme';
@import 'partials/animate';
@import 'plugins/font-awesome/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800|Source+Sans+Pro:400,900);

/* MEDIA QUERIES */
$breakpoint-mobile-landscape:	320px;
$breakpoint-tablet:			768px; //min value
$breakpoint-desktop:			1200px; //max value

/* COLOURS */
$baseColor:				#003153;
$darkBlue:				#4d5e70;
$medBlue:				#d4dde4;
$lightBlue:				#f0f4f7;
$hoverBlue:				#017cc0;

/* FONTS */
$titleFont:				'Open Sans', sans-serif;
$baseFont:				'Source Sans Pro', sans-serif;
$baseFontWeight:			400;
$baseFontSize:				14px;
$baseFontColor:			#222222;
$baseLineHeight:			24px;

/* SPACING & MISC */
$margin:				2.380%;
$transition:				all .35s ease-in-out;


/* GLOBALS */
* { @include box-sizing(border-box); }
html,
body {
	width:100%;
	height:100%;
	min-height:100%;
}
body {
	font:400 $baseFontSize $baseFont;
	background:$lightBlue;
	color:#4c5e70;
}
.container {
	@extend .clearfix;
	width:100%;
	max-width:1300px;
	margin:0 auto;
	padding:0 20px;
}
.clearfix {
	&:before,
	&:after {
		content:" ";
		display:block;
	}
  	&:after {
  		clear:both;
  	}
}
ul {
	list-style:none;
	padding:0;
	margin:0;
}

/* DEFAULT TABLE STYLING */
table {
	width:100%;
	text-align:center;
	background:#fff;
	tr {
		border:1px solid #dee1e2;
		th, td {
			border-left:1px solid #dee1e2;
			padding:1%;
		}
		th {
			background:#f6f8fc;
			font-weight:800;
			cursor:pointer;
			&.sorting_asc,
			&.sorting_desc {
				background:$darkBlue;
				color:#fff;
				&:after {
					content:'';
					font-family:'FontAwesome';
					color:#fff;
					display:inline-block;
					margin-left:5px;
					font-weight:400;
					position:relative;
				}//after
			}//sort order
			&.sorting_asc:after {
				content:'\f0de';
				top:4px;
			}
			&.sorting_desc:after {
				content:'\f0dd';
				top:-4px;
			}
		}//th
		td {
			width:20%;
		}
	}//tr
}//table
#monthly-statements table tr td { width:auto; }

/* TABLE SEARCH FUNCTIONALITY */
.dataTables_wrapper {
	display:block;
	@extend .clearfix;
}
.dataTables_length,
.dataTables_info{
	display:none;
	@include mq(tablet-landscape) {
		display:block;
		float:left;
		margin:10px 0;
		select {
			background-color: #fff;
			border: solid 1px #dee1e2;
			padding:5px;
		}
	}
}
.dataTables_filter,
.dataTables_paginate {
	display:none;
	@include mq(tablet-landscape) {
		display:block;
		float:right;
		margin:10px 0;
		input {
			margin-left:10px;
			background-color: #fff;
			border: solid 1px #dee1e2;
			padding:5px;
		}
		span {
			margin:0 10px;
			a {
				margin:0 5px;
				&.current {
					border-radius:50%;
					background:$darkBlue;
					color:#fff;
					padding:0 5px;
				}//active pagination
			}//a
		}//span -pagination links
		a, span { cursor:pointer; }
	}//END MQ TABLET-LANDSCAPE
}

/* GLOBAL FONTS */
h1, h2, h3, h4, h5, h6 {
	font-family:$titleFont;
	font-weight:800;
	text-transform:uppercase;
	margin:0;
}
h2 {
	color:$darkBlue;
	@include fontSize(18px);
}
h3 {
	@include fontSize(16px);
}
h4 {
	@include fontSize(14px);
	span {
		display:block;
		text-transform:capitalize;
		line-height:1;
	}
}
a {
	@include transition($transition);
	text-decoration:none;
	font-family:$baseFont;
	font-weight:900;
	color:$baseColor;
}
a img { vertical-align:bottom; }
strong { font-weight:900; }
.btn {
	text-align:center;
	background:$baseColor;
	padding:15px 25px;
	color:#fff;
}

/* GLOBAL IMAGE STYLING */
img {
	width:auto;
	height:auto;
	max-width:100%;
}
figure {
	margin:0;
	position:relative;
}
figcaption {
	font-style:italic;
	margin-bottom:$margin;
}

/* COLUMNS */
section {}
.row { @extend .clearfix; }
.two-thirds-left,
.one-third-right,
.two-thirds-right,
.one-third-left {
	display:block;
	margin-bottom:$margin;
	width:100%;
	@include mq(tablet-landscape) {
		float:left;
	}
}
.two-thirds-left,
.two-thirds-right {
	@include mq(tablet-landscape) {
		width:65.87%;
		margin-right:$margin;
	}
}
.one-third-right,
.one-third-left {
	@include mq(tablet-landscape) {
		width:29.28%;
	}
}
@include mq(tablet-landscape) {
	.two-thirds-right {
		margin:0 0 0 $margin;
	}
}
.col-2 {
	display:block;
	width:100%;
	@include mq(tablet-landscape) {
		float:left;
		width: 49%;
		margin-left:2%;
		&:first-child { margin:0; }
	}
}
.col-3 {
	display:block;
	width:100%;
	@include mq(tablet-landscape) {
		float:left;
		width:31.74%;
		margin-left:2.380%;
		&:first-child { margin-left:0; }
	}
}

/* GENERIC MISC */
iframe { width:100%; margin:0 0 $margin 0; }

/* LEFT SIDEBAR */
.left-sidebar {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	width:12.25%;
	background:$darkBlue;
	z-index:10;
	h2 {
		display:none;
		text-align:center;
		text-transform:uppercase;
		color:#fff;
		padding:23px 0;
		font-weight:800;
		@include fontSize(16px);
	}//h2
	footer {
		position:absolute;
		bottom:0;
		width:100%;
	}
	#contact-details {
		display:block;
		a, i {
			display:block;
			padding:10px;
			color:#fff;
			opacity:.5;
			&:before {
				display:block;
				text-align:center;
			}
			span { display:none; }
		}//a
		i, span, br {
			display:none;
		}
	}//contact-details
	h6 {
		display:none;
		color:#fff;
		font-family:$titleFont;
		font-weight:400;
		margin:0 0 10px 0;
		text-transform:capitalize;
		@include fontSize(14px);
	}
	#social-media {
		text-align:center;
		display:block;
		width:100%;
		li {
			display:block;
			a {
				display:block;
				color:#fff;
				opacity:.5;
				font-weight:400;
				padding:10px;
				@include fontSize(14px);
				@include transition(.2s);
				&:hover {
					opacity:1;
				}
			}
		}
	}//social-media
	#end {
		display:none;
	}
	@include mq(mobile-landscape) {
		#social-media { display:none; }
	}
	@include mq(tablet-landscape) {
		#end {
			display:block;
			text-align:center;
			color:#fff;
			margin-top:20px;
			opacity:.5;
		}
	}
	@include mq(desktop) {
		width:18.25%;
		h2,
		h6 {
			display:block;
		}
		footer {
			padding:0 20px;
			bottom:10px;
		}
		#contact-details {
			padding:0 0 10px 0;
			line-height:1.5;
			margin:0 0 10px 0;
			border-bottom:3px solid lighten($darkBlue, 10%);
			a {
				padding:0;
				font-family:$baseFont;
				opacity:1;
				&:before { display:none; }
				span {
					display:block;
					line-height:1.5;
				}
			}
			span, br {
				display:block;
				color:#fff;
			}
		}//contact-details
		#social-media {
			display:table;
			text-align:left;
			li {
				display:table-cell;
				width:20%;
				a {
					padding:10px 0;
					@include fontSize(18px);
				}
			}//li
		}//social-media
		#end {
			text-align:left;
			i { margin-right:5px; }
		}
	}//END DESKTOP
}//left-sidebar

/* NAVIGATION */
#main-nav {
	list-style:none;
	display:block;
	li {
		display:block;
		margin:0;
		a {
			display:block;
			color:#fff;
			padding:20px 10px;
			font-family:$titleFont;
			font-weight:400;
			opacity:.5;
			text-align:center;
			@include fontSize(14px);
			@include transition(.35s);
			&:before {
				font-family:FontAwesome;
				display:inline-block;
			}//before
			&:hover {
				background:$hoverBlue;
				opacity:1;
			}
			&.active {
				background:$hoverBlue;
				opacity:1;
			}
			&#logout {
				cursor:pointer;
			}
			span { display:none; }
		}//a
	}//li
	@include mq(mobile-landscape) {
		li a {
			padding:10px;
		}
	}
	@include mq(desktop) {
		li {
			a {
				padding:20px;
				text-align:left;
				span {
					display:inline-block;
				}
				&:before { margin-right:10px; }
			}
		}
	}//END DESKTOP
}//main-nav

/* PORTAL */
.portal-container {
	display:block;
	margin-left:12.25%;
	@include clearfix;
	header {
		background:$medBlue;
		padding:4px 20px;
		width:100%;
		position:relative;
		@include clearfix;
		#logo {
			display:table;
			float:left;
			img,
			span {
				margin-right:10px;
				display:table-cell;
				vertical-align:middle;
			}
			span {
				font-weight:800;
				font-family:$titleFont;
				color:$darkBlue;
				text-transform:uppercase;
				@include fontSize(14px);
			}//span
		}//logo
		.header-right {
			display:none;
			float:right;
			.date,
			.profile {
				display:table-cell;
				vertical-align:middle;
				position:relative;
			}
			.date {
				padding-right:20px;
				&:before {
					content:"\f073";
					font-family:FontAwesome;
					color:$darkBlue;
					display:inline-block;
					margin-right:10px;
				}//before
				&:after {
					content:'';
					width:2px;
					height:24px;
					background:#b9c6d3;
					position:absolute;
					top:0;
					right:0;
					bottom:0;
					margin:auto;
				}//after
			}//date
			.profile {
				padding-left:20px;
				position:relative;
				span {
					display:table-cell;
					vertical-align:middle;
					padding-right:20px;
					i { margin-left:10px; }
				}//span
				.profile-pic {
					display:table-cell;
					height:46px;
					vertical-align:middle;
					i {
						padding:10px 11px;
						background:$darkBlue;
						color:#fff;
						border-radius:50%;
					}
				}//profile-pic
			}//profile
		}//header-right
	}//header
	@include mq(tablet) {
		header {
			padding:4px 20px;
			#logo span {
				@include fontSize(18px);
			}
			.header-right {
				display:table;
				.date {
					display:none;
				}
			}//header-right
		}//header
	}//END TABLET
	@include mq(tablet-landscape) {
		header {
			.header-right {
				.date {
					display:table-cell;
				}
			}//header-right
		}//header
	}//END TABLET LANDSCAPE
	@include mq(desktop) {
		margin-left:18.25%;
		header {
			padding:11px 20px;
		}
	}//END DESKTOP
}//portal-container

/* PORTAL BODY */
.portal-body {
	display:block;
	padding:20px;
	line-height:32px;
	@include clearfix;
	.client-details,
	.client-policies {
		margin-bottom:50px;
		@include fontSize(16px);
	}
	.client-policies {
		padding-bottom:28px;
		border-bottom:2px solid #dee1e2;
		margin-bottom:30px;
	}
	.policy-block {
		display:block;
		margin:0 0 30px 0;
		background-color: #fff;
		-webkit-box-shadow: 0 1px rgba(0,0,0,.1);
		-moz-box-shadow: 0 1px rgba(0,0,0,.1);
		box-shadow: 0 1px rgba(0,0,0,.1);
		border: solid 1px #dee1e2;
		&.summary {
			h4 {
				background:#f6f8fc;
				padding:20px 30px;
			}
		}
		.policy {
			list-style:none;
			padding:20px;
			li {
				display:block;
				padding:0 0 13px 0;
				border-bottom:1px solid #dee1e2;
				margin-bottom:15px;
				position:relative;
				@include fontSize(16px);
				span {
					display:block;
					font-weight:800;
				}
			}//li
			&.overview li {
				&:first-child{
					cursor:pointer;
					&:after {
						content:'\f078';
						position:absolute;
						right:0;
						bottom:10px;
						font-family:'FontAwesome';
					}
				}
			}//overview li
		}//policy
		.view-policy-btn {
			display:block;
			background:#f6f8fc;
			padding:20px;
			position:relative;
			-webkit-box-shadow: 0 1px #dee1e2;
			-moz-box-shadow: 0 1px #dee1e2;
			box-shadow: 0 1px #dee1e2;
			@include transition(.5s);
			span {
				z-index:2;
				position:relative;
				font-family:$titleFont;
				text-transform:uppercase;
				font-weight:800;
				margin-right:10px;
			}
			&:before {
				content:'';
				background:$darkBlue;
				display:block;
				position:absolute;
				margin:auto;
				top:0;
				left:0;
				bottom:0;
				width:0;
				z-index:1;
				@include transition(.5s);
			}
			&:after {
				content:'\f061';
				color:#2aba6e;
				display:inline-block;
				font-family:FontAwesome;
				font-weight:normal;
				z-index:2;
				position:relative;
				right:0;
				@include transition(.5s);
			}
			&:hover {
				color:#fff;
				&:before {
					width:100%;
				}
				&:after {
					right:-10px;
				}
			}
		}//view-policy-btn
	}//policy-block
	.statements {
		display:block;
		@include clearfix;
	}
	@include mq(tablet) {
		padding:50px;
		.policy-block {
			.policy li span {
				float:right;
			}
			.view-policy-btn {
				text-align:right;
			}
			.policy.overview li:first-child {
				cursor:default;
				&:after {
					display:none;
				}
			}
		}//policy-block
	}//END TABLET
	@include mq(tablet-landscape) {
		.policy-block {
			&.multiple {
				float:left;
				width:49%;
				&:nth-child(3) {
					float:right;
				}
			}
		}
	}
}//portal-body

/* CHART STYLING */
.chart-container {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	border:1px solid #dee1e2;
	padding:30px;
	margin:0 0 30px 0;
	display:block;
	position:relative;
	width:100%;
	.chart {
		display:block;
		width:100%;
		height:auto;
		margin:40px 0 0;
	}
}
.c3-tooltip { max-width:225px; }

/* TABS */
.r-tabs {
	position: relative;
	.r-tabs-nav {
		padding:0;
		margin:0;
		.r-tabs-tab {
			position:relative;
			background:#f6f8fc;
			display:inline-block;
			margin:0;
			list-style:none;
			.r-tabs-anchor {
				display: inline-block;
				padding: 10px 12px;
				text-decoration: none;
				font-size: 14px;
				font-weight: bold;
				color: $darkBlue;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				border-top: 1px solid #dee1e2;
				border-right:1px solid #dee1e2;
				border-left:1px solid #dee1e2;
			}//default tab state
			&.r-tabs-state-active {
				.r-tabs-anchor {
					color: $darkBlue;
					text-shadow: none;
					background-color: #d5dde4;
					border-top-right-radius: 10px;
					border-top-left-radius: 10px;
				}
			}//active tab state
		}
	}//Clickable Tabs
	.r-tabs-panel {
		background-color: #d5dde4;
	}
}//tabs

/* TABS STYLING FOR MOBILES */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: $darkBlue;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	&:after {
		content:'\f078';
		font-family:'FontAwesome';
		color:#fff;
		float:right;
		text-align:right;
	}
}
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: $darkBlue;
	color: #fff;
	text-shadow: none;
	&:after {
		content:'\f00d';
		font-family:'FontAwesome';;
		color:#fff;
		float:right;
		text-align:right;
	}
}
ul.tabletolist.nrh > li {
	border-bottom:2px solid #222;
}
