<div class="login-box">
  <div class="contact-form">
    <h1>Log into your Annuity Portal</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mauris lectus, tristique rutrum tellus vitae, gravida aliquet nulla.
    </p>
    <div>
      <i class="fa fa-user"></i>
      <input id="username" name="name" type="text" placeholder="Username"/>
    </div>
    <div>
      <i class="fa fa-lock"></i>
      <input id="password" name="password" type="password" placeholder="Password"/>
    </div>
    <div>
      <button type="submit" onclick="goToPolicy()">Sign In</button>
    </div>
    <div id="end">
      <i class="fa fa-bolt"></i> Powered by Ai
    </div>
    <!-- /contact-form -->
  </div>
  <div class="feature-side">
    <ul class="feature-list">
      <li>
        <i class="fa fa-area-chart"></i>
        <h2>View Your Statement</h2>
        See all the activity that has happened to your policy, from monthly summaries, to day-to-day activities - your BAF portal has it all!
      </li>
      <li>
        <i class="fa fa-refresh"></i>
        <h2>Update Your Account</h2>
        Submit changes to your account information; update your address, change your contact details and more.
      </li>
      <li>
        <i class="fa fa-inbox"></i>
        <h2>Manage Your Policies</h2>
        Request withdrawals from policies, request credit reference letters from BAF or just understand the state of your policies with us!
      </li>
    </ul>
  </div>
  <!-- /login-box -->
</div>
